{% extends 'BASE.html' %}




{% block main %}

<style>

  div {
 
     overflow-wrap: break-word;}


</style>





<div class="row">
    <div class="col-lg-12 col-lg-offset-0">
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Message board</h3>
            </div> -->
   
   

            <h5>Message board</h5>

            


            {% for object in qs1 %}
				<li class="list-group-item">
  					<div class="panel-footer">
               		 <strong>{{object.reply_content}}</a></strong> 
                   <p>Replied by : {{object.replied_by}}</p>
                    <p>Posted : {{ object.post_date}}</p>
                    {% if object.contact_author == True %}
                    <p>Contact author : {{ object.contact_details.email_addr}}</p>
                     {%endif%}

                    <h5><a href="{% url 'update_reply_in_reply'  id=object.id %}"class="button">Update </a></h5>

                
                  
           			 </div>
					

				</li>



			{% endfor %}


<!--         </div>
 -->    </div>
</div>




{% endblock %}