{% extends 'BASE.html' %}



{% block main %}

<style>

  div {
 
     overflow-wrap: break-word;}


</style>





<div class="row">
    <div class="col-lg-12 col-lg-offset-0">
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Message board</h3>
            </div> -->

            <h3>Message board</h3>

             <a href="create/"class="btn btn-info">Create a topic</a> &nbsp;
             


            {% for object in object_list %}
				<li class="list-group-item">
  					<div class="panel-footer">
               		 <strong><a href="{% url 'detail_forum'  id=object.id %}">{{object.title}}</a></strong> 

                    <span class="pull-right">
                        <a href="update/{{ object.id }}"class="btn btn-default btn-xs">Update</a> &nbsp;

                         <a href="reply/{{ object.id }}"class="btn btn-default btn-xs">Reply</a> &nbsp;
                       
                    </span>
                    




           			 </div>
					

				</li>
			{% endfor %}


<!--         </div>
 -->    </div>
</div>




{% endblock %}