{% extends 'BASE.html' %}




{% block main %}

<style>

  div {
 
     overflow-wrap: break-word;}


</style>





<div class="row">
    <div class="col-lg-12 col-lg-offset-0">
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Message board</h3>
            </div> -->
   
   

            <h5>Email</h5>

            


            {% for object in qs1 %}
				<li class="list-group-item">
  					<div class="panel-footer">
               		 <strong>Title: {{object.title}}</a></strong> 
                   <p>From : {{object.from_user}}</p>


                    <p>To :  {% for item in object.to_user.all%}

                      {{item}} |

                      {%endfor%}

                    </p>
                    <p>Message: {{object.message}}</p>
                    <p>Sent: {{object.sent}}</p>
                   
                  

                
                  
           			 </div>
					

				</li>



			{% endfor %}


<!--         </div>
 -->    </div>
</div>




{% endblock %}