{% extends 'BASE.html' %}




{% block main %}

<style>

  div {
 
     overflow-wrap: break-word;}


</style>





<div class="row">
    <div class="col-lg-12 col-lg-offset-0">
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Message board</h3>
            </div> -->
   
   

            <h5>Friends of {{usermember.name}}</h5>

            


            {% for object in qs1 %}
				<li class="list-group-item">
  					<div class="panel-footer">

               <h5><a href="{% url 'user_contribution_view'  id=object.id %}"> <strong>{{object.name}}</strong></a></h5>
               		
                             
                  
           	</div>
					

				</li>



			{% endfor %}


<!--         </div>
 -->    </div>
</div>




{% endblock %}