 {% extends 'BASE.html' %}



{% block main %}


 <style>

  
.panel-footer{
  background-color: #f2f3f4  ;
  height: 1700px;
  border-color:   #f2f3f4  ;
  color: #FFFFFF;
  max-width: 1200px;
  

 }




/*   .list-group-item {   background-color:#f8f9f9;
                        height:150px;
                      border-color: #f8f9f9;
                      color: #FFFFFF;
                      max-width: 1200px;  }*/


h5 { color:  #1f618d; }


 </style>




<h1> {{obj.name}} </h1>



<br>


<div class="row">
    <div class="col-lg-12 col-lg-offset-0">
     
    
      <div class="panel-footer">



   <span class="pull-right">


    <a href="personalize-user-account/{{object.id}}" class="btn btn-default btn-xs">Personalize</a> &nbsp;


   </span> 



  <h5><a href="{% url 'user_profile_view'  id=obj.id %}"class="button">View profile</a></h5>


  
  <h5><a href="{% url 'update_user_profile'  id=obj.id %}"class="button">Update profile</a></h5>


  <h5><a href="{% url 'user_contribution_view'  id=obj.id %}"class="button">User contribution</a></h5>

  
  <h5><a href="{% url 'view_friends_of_this_user'  id=obj.id %}"class="button">Friends</a></h5>



  <h5><a href="{% url 'settings_view'  id=obj.id %}"class="button">Edit settings</a></h5>


  <h5><a href="{% url 'display_mail_messages'  id=obj.id %}"class="button">Email messages</a></h5>

  <h5><a href="{% url 'usermember_delete_view'  id=obj.id %}"class="button">Delete account</a></h5>


  <h5><a href="{% url 'player_logout' %}"class="button">Log out</a></h5>




     <span class="pull-right">

    {% if obj.account_image %}

   <img src = "{{obj.account_image.url}}"  width=500 height=500/>

    {% endif %}


   <p><h5>{{obj.favourite_games}}</h5></p> 

   

 </span>







		</div>

	</div>

</div>








{% endblock main %}