{% extends "BASE.html" %}

{% block title %}Visitors page{% endblock %}



{% block main %}

<style>

h5 {

color:  #3498db;  }


.row {

    color:  #1a5276; }   /* change the contours*/


.list-group-item {


background-color: #bfc9ca;}



/* change the contours like row*/
/*.col-lg-8 {             


color: #a3e4d7;}*/


/* change the contours like row*/

/*.col-lg-offset-2 {         


color: #a3e4d7;}
*/

</style>


<div class="row">
    <div class="col-lg-12 col-lg-offset-0">
        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Visitors</h3>
            </div> -->

             <h3>Authors and contributors</h3>


<!-- 
            <div class="panel-footer">
                Total &mdash; <strong>{{ visitor.num_res}} </strong>
            </div>

             <div class="panel-footer">
                Maximum number of votes &mdash; <strong>{{ poll.maxn}} </strong>
            </div>


             <div class="panel-footer">
                Total number of votes &mdash; <strong>{{ poll1.count}} </strong>
            </div> -->

          <!--    <div class="panel-footer">
                Number of games &mdash; <strong>{{ var.qs_date_count}} </strong>
            </div> -->

                         

                       
                          
                           {% for object in qs %}

                            <li class="list-group-item">


                          <div class="panel-footer">

                            <h5><a href="{% url 'user_contribution_view' id=object.id %}">{{object.name}} </a></h5>

                            <br>

                             {% if request.user.is_authenticated and request.user.id == object.id %}

                              

                               <h5> <a href="{% url 'user_account_view' id=object.id %}">User account</a></h5>



                              {% endif %}







                         
                          </div>

                       </li>



                          

                          {% endfor %}

                       
                         
                    


<!--         </div>
 -->    </div>
</div>





{% endblock %}